<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>LibraryAPI - Search</title>
  </head>
  <body>
    <div class="container" id="app">
      <h1>LibraryAPI - Book Search</h1>
      <hr />
      <form>
        <label for="search">Search by:</label>
        <div class="row">
          <select class="three columns" v-model="type">
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="isbn">Isbn</option>
          </select>
          <input type="text" class="nine columns" v-model="search" required />
        </div>
        <input
          type="submit"
          class="button-primary u-full-width"
          @click="submit"
        />
      </form>
      <div v-for="book in books" id="result">
        <h3>{{book.title}}</h3>
        <p>
          <strong>{{book.author}}</strong> - {{book.available ? 'Available' :
          'Not available'}} - <em>ISBN: {{book.isbn}}</em>
        </p>
        <p><em>Published: {{book.published}}</em></p>
        <hr />
      </div>
    </div>
    <script src="./vue.js"></script>
    <script src="search.js"></script>
  </body>
</html>
